{% macro about() -%}
<article id="about">
    <h2 class="major">About Me</h2>
    <p>
    I am currently a junior studying Computer Science at High Point University, and ever since I was little I loved anything to do with computers and technology,
    I started with teaching myself the basics of web development in High School, but I never really knew where to get started with programming. When I finally got to college, I finally found my groove!
    </p>
    <p>
    Since then I have learned a variety of languages such as C, C++, Javascript, ReactJS, Java, Python, Flask, Assembly, as well as Cyber Security, and much more! I also competed in Cyber FastTrack Competiton and placed in the top 0.93%!
    <ul><li><a href="http://www.highpoint.edu/blog/2019/10/hpu-students-advanced-in-national-cybersecurity-competition/" target="_blank">http://www.highpoint.edu/blog/2019/10/hpu-students-advanced-in-national-cybersecurity-competition/</a></li></ul>
    I also got to build a Python Flask web app with a couple friends for the Mayo Clinic!
    <ul><br><li><a href="http://www.highpoint.edu/blog/2019/11/students-and-faculty-in-hpus-webb-school-of-engineering-assist-in-nsf-funded-research/">http://www.highpoint.edu/blog/2019/11/students-and-faculty-in-hpus-webb-school-of-engineering-assist-in-nsf-funded-research/</a></li><li><a href="http://stemaccessforall.org/" target="_blank">http://stemaccessforall.org/</a></li></ul>
    </p>
    <p>
    After working on that grant, I decided I wanted to apply what I had learned and build myself a website, this one as well as a programming blog! You can check out the source code for on my GitHub!
    <ul><li><a href="https://github.com/ethanshealey/programming-blog">https://github.com/ethanshealey/programming-blog</a></li></ul>
    <ul><li><a href="https://github.com/ethanshealey/portfolio">https://github.com/ethanshealey/portfolio</a></li></ul>
    </p>
    <p>
    Feel free to check out my GitHub or LinkedIn
    </p>
    <ul class="icons">
        <li><a href="https://www.github.com/ethanshealey" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/ethan-shealey/" class="icon brands fa-linkedin"><span class="label">GitHub</span></a></li>
    </ul>
</article>
{%- endmacro %}