{% macro work() -%}
<article id="work">
    <h2 class="major">My Work</h2>
    <p style="margin-top:-20px !important;"><i>I am always looking for more work! Please feel free to <a href="#contact">contact me!</a></i></p>

    <ul>
        <li>
            <b><a href="stemaccessforall.org" target="_blank">STEM Access For All</a></b><br>
            <p>Description: Python Flask Web App built for the Mayo Clinic's STEM Access For All project</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>Flask</li>
                <li>Flask Admin</li>
                <li>Flask Login</li>
                <li>SQL / SQLalchemy / sqlite3</li>
                <li>Flask Mail</li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>User Registration / Login</li>
                <li>Admin Panel</li>
                <li>Survey System</li>
                <li>Custom Messaging System along with Email support</li>
                <li>Custom Search Function</li>

            </ul>
            <span class="image main"><a href="http://www.stemaccessforall.org" target="_blank"><img src="/images/safa.png" alt="" /></span></a>
        </li>
        <hr>
        <li>
            <b><a href="https://github.com/ethanshealey/programming-blog" target="_blank">Programming Blog</a> | <a href="https://github.com/ethanshealey/programming-blog">Souce Code</a></b><br>
            <p>Description: Python Flask Web App</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>Flask</li>
                <li>Flask Admin</li>
                <li>Flask Login</li>
                <li>SQL / SQLalchemy / sqlite3</li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>Admin Panel</li>
                <li>Custom Messaging System along with Email</li>
                <li>Custom Search Function</li>
                <li>Custom Live HTML Editor for Creating Posts</li>
                <li>Tag System</li>
            </ul>
            <span class="image main"><a href="https://github.com/ethanshealey/programming-blog" target="_blank"><img src="/images/prog.png" alt="" /></span></a>
        </li>
        <hr>
        <li>
            <b><a href="https://github.com/ethanshealey/TriviaBot" target="_blank">Discord TriviaBot</a> | <a href="https://github.com/ethanshealey/TriviaBot">Souce Code</a></b><br>
            <p>Description: Python Discord Bot</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>Python</li>
                <li>Discord API</li>
                <li>Sqlite3</li>
                <li><a href="https://opentdb.com/">Opentdb API</a></li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>4000+ trivia questions</li>
                <li>26 subjects to pick from</li>
                <li>3 difficulties</li>
                <li>Unique user response system</li>
                <li>Custom user score tracking</li>
            </ul>
            <span class="image main"><a href="https://github.com/ethanshealey/TriviaBot" target="_blank"><img src="https://i.imgur.com/noxc5Z5.png" alt="" /></span></a>
        </li>
        <hr>
        <li>
            <b><a href="https://github.com/ethanshealey/ElectronTrivia" target="_blank">Trivia!</a> | <a href="https://github.com/ethanshealey/ElectronTrivia">Souce Code</a></b><br>
            <p>Description: Trivia! is an Electron app that enables users to play trivia involving 23 categories and 4000+ unique questions.</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>Electron</li>
                <li>Javascript</li>
                <li>HTML/CSS</li>
                <li><a href="https://opentdb.com/">Opentdb API</a></li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>4000+ trivia questions</li>
                <li>26 unique categories</li>
                <li>3 difficulties</li>
            </ul>
            <span class="image main"><a href="https://github.com/ethanshealey/ElectronTrivia" target="_blank"><img src="https://i.imgur.com/RvSAMGs.png" alt="" /></span></a>
        </li>
        <hr>
        <li>
            <b><a href="https://ethanshealey.github.io/ReactWeather/" target="_blank">ReactWeather</a> | <a href="https://github.com/ethanshealey/ReactWeather">Souce Code</a></b><br>
            <p>Description: ReactWeather is a simple weather app that provides the user with a 3 day forecast of whatever location they desire!</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>ReactJS</li>
                <li><a href="https://www.weatherapi.com//">weatherapi.com</a></li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>3 day forecast</li>
                <li>Location lookup by:</li>
                <ul>
                    <li>Country</li>
                    <li>Region</li>
                    <li>IP address</li>
                    <li>Zip Code</li>
                    <li>And more!</li>
                </ul>
            </ul>
            <span class="image main"><a href="https://ethanshealey.github.io/ReactWeather/" target="_blank"><img src="https://i.imgur.com/kcwfX78.png" alt="" /></span></a>
        </li>
        <hr>
        <li>
            <b><a href="https://github.com/ethanshealey/FlaskMusic" target="_blank">Flask Music (WIP)</a> | <a href="https://github.com/ethanshealey/FlaskMusic">Souce Code</a></b><br>
            <p>Description: Flask Music is a simple proof-of-concept flask app that allows users to upload music, listen, and create playlists.</p>
            <p style="margin-top:-30px !important;">Tools Used:</p>
            <ul style="margin-top:-30px !important;">
                <li>Flask</li>
                <li>Flask Login</li>
                <li>SQL / SQLalchemy / sqlite3</li>
                <li>YouTube Downloader</li>
            </ul>
            <p style="margin-top:-30px !important;">Features:</p>
            <ul style="margin-top:-30px !important;">
                <li>Listen to your favorite music</li>
                <li>Upload your own!</li>
                <li>Favorite songs and create custom playlists!</li>
            </ul>
            <span class="image main"><a href="https://github.com/ethanshealey/FlaskMusic" target="_blank"><img src="https://i.imgur.com/BSPr69I.png" alt="" /></span></a>
        </li>
    </ul>
</article>
{%- endmacro %}